# Introduction to Python Programming

In [ ]:
understanding the variables in python:

In [2]:
x = 3

y = 2

In [3]:
z= x+y
print(z)

5

In [ ]:
Rules for declaring the variables:

In [ ]:
Rule 1. -> No name spaces allowed while declaring the variable name.

In [4]:
first name = 'Shahbaz'

print(first name)

SyntaxError: invalid syntax (<ipython-input-4-5208d56f8833>, line 1)

In [ ]:
<< Now correcting >>

In [6]:
first_name = 'Shahbaz'
print(first_name)

Shahbaz

In [ ]:
OR

In [7]:
firstname = 'Shahbaz'
print(firstname)

Shahbaz

In [ ]:
Rule 2. -> A variable name should not start with a number. **

In [8]:
1name = 'ravi'
print(1name)

SyntaxError: invalid syntax (<ipython-input-8-a7107c9528b2>, line 1)

In [9]:
name1 = 'ravi'
print(name1)

ravi

In [ ]:
Rule 3. -> a variable name should not contain any specific characters.

In [ ]:
@ # $ % & * --> these special characters

In [10]:
name@ = 'divya'
print(name@)

SyntaxError: invalid syntax (<ipython-input-10-f6e73613d41a>, line 1)

Introduction to datatypes in python:

In [ ]:
1). string --> str

2). numbers --> i). integers (int) and floats (float)

3). lists --> list

4). tuples --> tuple

5). Dictionaries --> dict

Classification of datatypes:

In [ ]:
broadly categorised in two categores:
    
1). Mutable datatype: which we can edit and alter --> flexible in nature
    
2). Immutable datatype: which we cannot edit or alter --> fixed in nature.

In [ ]:
Introduction to string datatype:
    
definition: A string is a series of charaters declared in quotes.
    
classification: It is clasified as an immutable datatype --> fixed
    

how to declare the string datatype:
    
3 possible approaches:
    
i). single quote

ii). double quote

iii). triple quote

In [11]:
name = 'john'

print (name)

john

In [12]:
name2 = "karthik"

print(name2)

karthik

In [14]:
name3 = """tamanna"""

print (name3)

tamanna

Understanding the string methods:

In [15]:
type(name)

str

In [16]:
type(name2)

str

In [17]:
type(3)

int

In [19]:
type(9.8)

float

In [20]:
fullname = 'binay mishra'

print(fullname)

binay mishra

In [21]:
print(fullname.title())

Binay Mishra

In [ ]:
#req: i want the full name in capital letters

In [22]:
print(fullname.upper())

BINAY MISHRA

In [23]:
print(fullname.lower())

binay mishra